*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;
}

.mes-feux{
    height: 500px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    padding: 50px 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    transition: .5s;
}
#btn-01{
    border: solid 2px green;
}
#btn-02{
    border: solid 2px orange;
}
#btn-03{
    border: solid 2px red;
}